!!! 5
html
  head
    title Node Upload Progress
    link(rel="stylesheet", href="/stylesheets/style.css")
    script(type="text/javascript", src="/javascripts/jquery.min.js")
    script(type="text/javascript", src="/javascripts/ajax-upload.js")
    script(type="text/javascript", src="/javascripts/application.js")
  body!= body